*,html{
    margin: 0;
    padding: 0
}

h1{
    color: whitesmoke
}

header{
    height: 85px;
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

ul{
    display : flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
}

li:hover{
    background-color: slategrey; 
}